@font-face {
  font-family: "Deja Vu";
  font-weight: normal;
  font-style: normal;
  src: url(../Fonts/DejaVuSerif.otf);
}
body { font-family: "Deja Vu"}
h1.tit {text-align: center; font-size: 160%}
h2.subtit {text-align: center; font-size: 120%;}
p {text-indent: 1em}
p.txtc {text-align:center;text-indent: 0}
p.txtc img {max-width: 80%;}
img {max-width: 99%;}
p.caption {text-align:center; font-size: 80%; font-style: italic; text-indent: 0}
blockquote {
	display: block;
	width: 70%;
	margin: 1em 2em;
	font-style: italic;
}
div.note { border: 1px solid #ccc;padding-left: 1em;padding-right: 1em;font-size:110%}
#cover {text-align: center}
#cover img {max-width: 100%;padding: 0;margin: 0;}